@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Yuji+Syuku&display=swap');

.data-visualization {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: url("http://egretegret.github.io/data-visualization/cursor.png"), auto;
}

.data-visualization .title {
    font-size: 64px;
    text-align: left;
    max-width: 250px;
    font-family: 'Yuji Syuku', serif;
    line-height: 1.2;
    font-weight: 300;
    padding-left: 5px;
}

.data-visualization .time-slider {
    height: 50vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.data-visualization .time-slider .time-slider-line {
    height: 10px;
    width: 100%;
    z-index: 3;
    background-image: url("http://egretegret.github.io/data-visualization/line.png");
    background-size: cover;
}

.data-visualization .time-slider .time-slider-line:hover {
    opacity: 50%;
}

.data-visualization .time-slider .time-slider-day {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 84px;
    z-index: 1;
}

.data-visualization .data {
    position: absolute;
    top: 0;
    left: 250px;
    right: 250px;
    width: calc(100% - 500px);
    height: 100%;
    /* display: none; */
}

.data-visualization img:hover {
    cursor: url("http://egretegret.github.io/data-visualization/pointer.png"), pointer;
}

@media screen and (min-width: 3000px) and (min-height: 3000px) {
    .data-visualization img {
        position: absolute;
        max-width: 150px;
        max-height: 150px;
    }

    .data-visualization img[alt]:after {  
        width: 150px;
        height: 150px;
      }
  }

@media screen and (max-width: 2999px) and (max-height: 2999px) {
    .data-visualization img {
        position: absolute;
        max-width: 100px;
        max-height: 100px;
    }

    .data-visualization img[alt]:after {  
        width: 100px;
        height: 100px;
      }
}

.data-visualization #docs {
    left: 3%;
    top: 88%;
}

.data-visualization #blackjeans {
    right: 12%;
    top: 80%;
}

.data-visualization #turtleneck {
    left: 7%;
    top: 20%;
}

.data-visualization #coat {
    right: 2%;
    top: 5%;
}

.data-visualization #hoops {
    left: 35%;
    top: 60%;
}

.data-visualization #blackskirt {
    left: 25%;
    top: 66%;
}

.data-visualization #blackturtleneck {
    right: 9%;
    top: 29%;
}

.data-visualization #blacksocks {
    top: 2%;
    left: 35%;
}

.data-visualization #cardigan {
    top: 6%;
    right: 44%;
}

.data-visualization #silvernecklace {
    left: 12%;
    top: 64%;
}

.data-visualization #silverearrings {
    right: 12%;
    top: 67%;
}

.data-visualization #tank {
    left: 2%;
    top: 46%;
}

.data-visualization #browntop {
    top: 37%;
    right: 26%;
}

.data-visualization #browncardigan {
    right: 4%;
    top: 65%;
}

.data-visualization #blacklace {
    left: 2%;
    top: 69%;
}

.data-visualization #greenjacket {
    left: 20%;
    top: 26%;
}

.data-visualization #whitesocks {
    left: 50%;
    top: 82%;
}

.data-visualization #brownbelt {
    left: 35%;
    top: 91%;
}

.data-visualization #thinbrownbelt {
    right: 24%;
    top: 62%;
}

.data-visualization #headband {
    left: 5%;
    top: 2%;
}

.data-visualization #creamskirt {
    left: 12%;
    top: 77%;
}

.data-visualization #browntights {
    right: 39%;
    top: 33%;
}

.data-visualization #silverbelt {
    left: 55%;
    top: 16%;
}

.data-visualization #tantank {
    left: 5%;
    top: 33%;
}

.data-visualization #tancardigan {
    left: 23%;
    top: 12%;
}

.data-visualization #tanskirt {
    left: 39%;
    top: 71%;
}

.data-visualization #whiteshoes {
    left: 55%;
    top: 52%;
}

.data-visualization #warmtights {
    right: 12%;
    top: 15%;
}

.data-visualization #anklewarmers {
    right: 9%;
    top: 45%;
}

.data-visualization #wristwarmers {
    left: 33%;
    top: 22%;
}

.data-visualization #whitewristwarmers {
    right: 24%;
    top: 75%;
}

.data-visualization #pearlbelt {
    left: 38%;
    top: 37%;
}

.data-visualization #kawaii {
    left: 44%;
    top: 24%;
}

.data-visualization #sleeveless {
    right: 2%;
    top: 86%;
}

.data-visualization #miniskirt {
    right: 25%;
    top: 4%;
}

.data-visualization #blacktights {
    right: 19%;
    top: 48%;
}

.data-visualization #blacksocks2 {
    left: 14%;
    top: 50%;
}

.data-visualization #newspaper {
    right: 24%;
    top: 22%;
}

.data-visualization #boots {
    left: 11%;
    top: 10%;
}

.data-visualization #greencardigan {
    left: 23%;
    top: 40%;
}

.data-visualization #whiteskirt {
    left: 60%;
    top: 88%;
}

.data-visualization #whitesneakers {
    left: 53%;
    top: 66%;
}

.data-visualization #clearbelt {
    left: 26%;
    top: 54%;
}

.data-visualization #goldnecklace {
    left: 20%;
    top: 1%;
}

.data-visualization #heartearrings {
    left: 20%;
    top: 88%;
}

.data-visualization #blackskirt2 {
    left: 27%;
    top: 80%;
}

.data-visualization #cowbag {
    right: 1%;
    top: 50%;
}

.data-visualization #goldbelt {
    right: 46%;
    top: 53%;
}

.data-visualization #pearlearrings {
    left: 12%;
    top: 40%;
}

@media screen and (max-width: 1200px) {
    .data-visualization img {
        position: absolute;
        max-width: 150px;
        max-height: 150px;
    }

    .data-visualization {
        flex-direction: column;
        justify-content: flex-start;
    }

    .data-visualization .title {
        font-size: 25px;
        padding-bottom: 5px;
    }

    .data-visualization .time-slider {
        flex-direction: row;
        height: 10vh;
    }

    .data-visualization .time-slider-line {
        height: 20px!important;
        width: 15px!important;
    }

    .data-visualization .time-slider-day {
        padding-top: 15px;
        font-size: 40px!important;
    }

    .data-visualization .data {
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        max-width: 600px;
        height: 200vh;
    }

    .data-visualization #blackjeans {
        top: 40%;
    }

    .data-visualization #blacksocks {
        top: 38%;
    }

    .data-visualization #coat {
        top: 12%;
    }

    .data-visualization #silvernecklace {
        top: 37%;
    }

    .data-visualization #greenjacket {
        top: 13%;
    }

    .data-visualization #browntop {
        right: 3%;
    }

    .data-visualization #anklewarmers {
        top: 37%;
    }

    .data-visualization #tanskirt {
        left: 3%;
    }

    .data-visualization #whiteshoes {
        left: 9%;
    }

    .data-visualization #kawaii {
        top: 40%;
    }

    .data-visualization #pearlbelt {
        top: 55%;
    }

    .data-visualization #silverbelt {
        top: 55%;
    }

    .data-visualization #miniskirt {
        top: 78%;
    }

    .data-visualization #wristwarmers {
        top: 30%;
        left: 24%;
    }

    .data-visualization #silverearrings {
        left: 19%;
    }

    .data-visualization #blacktights {
        top: 67%;
    }

    .data-visualization #cardigan {
        top: 15%;
    }

    .data-visualization img[alt]:after {  
        width: 150px;
        height: 150px;
    }
    
}


.data-visualization img[alt]:after {  
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.5;  
    text-align: center;
    content: attr(alt);
  }
