body {
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
}

p {
    font-size: 1.2em;
}


.elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
}

.photo {
    text-align: center;
}

img {
    width: 200px;
    height: auto;
}

.small {
    font-size: .8em;
}

.big {
    font-size: 1.2em;
}